@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #f6f5f5a3;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
}
h6 {
  color: #2f7fe2;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #1f6091;
}
html,
body {
  background-color: #d3e0ea;
}
