.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: 20px;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.5px solid #069da6;
  background-color: white;
}
.coords {
  display: flex;
  justify-content: space-between;
}
.coord {
  color: gray;
  font-size: 15px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 400px;
  }
}
@media only screen and (max-width: 450px) {
  .main-container {
    max-width: 350px;
  }
  .card {
    width: 300px;
  }
  p {
    max-width: 100px;
  }
  .searchBar {
    width: 200px;
  }
}
